WpfOnt/WpfOnt/Service References/OServiceOItems/OServiceOItems.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Objects">
        <s:complexType />
      </s:element>
      <s:element name="ObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectsResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsOntologyItem" nillable="true" type="tns:clsOntologyItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OList_Rel" type="tns:ArrayOfClsOntologyItem" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Class" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_DataType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Related" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Relation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="New_Item" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ObjectReference" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Direction" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Min" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max1" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max2" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Long" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Bool" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Real" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Val_String" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObjectsByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectsByGuidResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exact" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectsByNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByGuidParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidParent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByGuidParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectsByGuidParentResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByGuidParentAndName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exact" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectsByGuidParentAndNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectsByGuidParentAndNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Classes">
        <s:complexType />
      </s:element>
      <s:element name="ClassesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassesResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassesByGuidResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strict" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="caseSensitive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassesByNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypes">
        <s:complexType />
      </s:element>
      <s:element name="RelationTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesByRelationTypeGuidResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strict" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="caseSensitive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesByRelationTypeNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypes">
        <s:complexType />
      </s:element>
      <s:element name="AttributeTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttributeTypesResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidAttributeType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttributeTypesByAttributeTypeGuidResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameAttributeType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strict" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="caseSensitive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttributeTypesByAttributeTypeNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeIdDataType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idDataType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributeTypesByAttributeTypeIdDataTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttributeTypesByAttributeTypeIdDataTypeResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:Objects" />
  </wsdl:message>
  <wsdl:message name="ObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectsByGuid" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectsByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectsByName" />
  </wsdl:message>
  <wsdl:message name="ObjectsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidParentSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectsByGuidParent" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidParentSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectsByGuidParentResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidParentAndNameSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectsByGuidParentAndName" />
  </wsdl:message>
  <wsdl:message name="ObjectsByGuidParentAndNameSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectsByGuidParentAndNameResponse" />
  </wsdl:message>
  <wsdl:message name="ClassesSoapIn">
    <wsdl:part name="parameters" element="tns:Classes" />
  </wsdl:message>
  <wsdl:message name="ClassesSoapOut">
    <wsdl:part name="parameters" element="tns:ClassesResponse" />
  </wsdl:message>
  <wsdl:message name="ClassesByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassesByGuid" />
  </wsdl:message>
  <wsdl:message name="ClassesByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassesByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassesByNameSoapIn">
    <wsdl:part name="parameters" element="tns:ClassesByName" />
  </wsdl:message>
  <wsdl:message name="ClassesByNameSoapOut">
    <wsdl:part name="parameters" element="tns:ClassesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypes" />
  </wsdl:message>
  <wsdl:message name="RelationTypesSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeGuidSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeGuid" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeGuidSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeGuidResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeNameSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeName" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeNameSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesSoapIn">
    <wsdl:part name="parameters" element="tns:AttributeTypes" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesSoapOut">
    <wsdl:part name="parameters" element="tns:AttributeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeGuidSoapIn">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeGuid" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeGuidSoapOut">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeGuidResponse" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeNameSoapIn">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeName" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeNameSoapOut">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeIdDataTypeSoapIn">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeIdDataType" />
  </wsdl:message>
  <wsdl:message name="AttributeTypesByAttributeTypeIdDataTypeSoapOut">
    <wsdl:part name="parameters" element="tns:AttributeTypesByAttributeTypeIdDataTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="OServiceOItemsSoap">
    <wsdl:operation name="Objects">
      <wsdl:input message="tns:ObjectsSoapIn" />
      <wsdl:output message="tns:ObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuid">
      <wsdl:input message="tns:ObjectsByGuidSoapIn" />
      <wsdl:output message="tns:ObjectsByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectsByName">
      <wsdl:input message="tns:ObjectsByNameSoapIn" />
      <wsdl:output message="tns:ObjectsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParent">
      <wsdl:input message="tns:ObjectsByGuidParentSoapIn" />
      <wsdl:output message="tns:ObjectsByGuidParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParentAndName">
      <wsdl:input message="tns:ObjectsByGuidParentAndNameSoapIn" />
      <wsdl:output message="tns:ObjectsByGuidParentAndNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Classes">
      <wsdl:input message="tns:ClassesSoapIn" />
      <wsdl:output message="tns:ClassesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuid">
      <wsdl:input message="tns:ClassesByGuidSoapIn" />
      <wsdl:output message="tns:ClassesByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassesByName">
      <wsdl:input message="tns:ClassesByNameSoapIn" />
      <wsdl:output message="tns:ClassesByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <wsdl:input message="tns:RelationTypesSoapIn" />
      <wsdl:output message="tns:RelationTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <wsdl:input message="tns:RelationTypesByRelationTypeGuidSoapIn" />
      <wsdl:output message="tns:RelationTypesByRelationTypeGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <wsdl:input message="tns:RelationTypesByRelationTypeNameSoapIn" />
      <wsdl:output message="tns:RelationTypesByRelationTypeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttributeTypes">
      <wsdl:input message="tns:AttributeTypesSoapIn" />
      <wsdl:output message="tns:AttributeTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeGuid">
      <wsdl:input message="tns:AttributeTypesByAttributeTypeGuidSoapIn" />
      <wsdl:output message="tns:AttributeTypesByAttributeTypeGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeName">
      <wsdl:input message="tns:AttributeTypesByAttributeTypeNameSoapIn" />
      <wsdl:output message="tns:AttributeTypesByAttributeTypeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeIdDataType">
      <wsdl:input message="tns:AttributeTypesByAttributeTypeIdDataTypeSoapIn" />
      <wsdl:output message="tns:AttributeTypesByAttributeTypeIdDataTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OServiceOItemsSoap" type="tns:OServiceOItemsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Objects">
      <soap:operation soapAction="http://tempuri.org/Objects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuid">
      <soap:operation soapAction="http://tempuri.org/ObjectsByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByName">
      <soap:operation soapAction="http://tempuri.org/ObjectsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParent">
      <soap:operation soapAction="http://tempuri.org/ObjectsByGuidParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParentAndName">
      <soap:operation soapAction="http://tempuri.org/ObjectsByGuidParentAndName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Classes">
      <soap:operation soapAction="http://tempuri.org/Classes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuid">
      <soap:operation soapAction="http://tempuri.org/ClassesByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByName">
      <soap:operation soapAction="http://tempuri.org/ClassesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <soap:operation soapAction="http://tempuri.org/RelationTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <soap:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <soap:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypes">
      <soap:operation soapAction="http://tempuri.org/AttributeTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeGuid">
      <soap:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeName">
      <soap:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeIdDataType">
      <soap:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeIdDataType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OServiceOItemsSoap12" type="tns:OServiceOItemsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Objects">
      <soap12:operation soapAction="http://tempuri.org/Objects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuid">
      <soap12:operation soapAction="http://tempuri.org/ObjectsByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByName">
      <soap12:operation soapAction="http://tempuri.org/ObjectsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParent">
      <soap12:operation soapAction="http://tempuri.org/ObjectsByGuidParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectsByGuidParentAndName">
      <soap12:operation soapAction="http://tempuri.org/ObjectsByGuidParentAndName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Classes">
      <soap12:operation soapAction="http://tempuri.org/Classes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassesByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByName">
      <soap12:operation soapAction="http://tempuri.org/ClassesByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <soap12:operation soapAction="http://tempuri.org/RelationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <soap12:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <soap12:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypes">
      <soap12:operation soapAction="http://tempuri.org/AttributeTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeGuid">
      <soap12:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeName">
      <soap12:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributeTypesByAttributeTypeIdDataType">
      <soap12:operation soapAction="http://tempuri.org/AttributeTypesByAttributeTypeIdDataType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OServiceOItems">
    <wsdl:port name="OServiceOItemsSoap" binding="tns:OServiceOItemsSoap">
      <soap:address location="http://localhost/OntWeb/OServiceOItems.asmx" />
    </wsdl:port>
    <wsdl:port name="OServiceOItemsSoap12" binding="tns:OServiceOItemsSoap12">
      <soap12:address location="http://localhost/OntWeb/OServiceOItems.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>