WpfOnt/WpfOnt/Service References/OServiceClassRel/OServiceClassRel1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Config">
        <s:complexType />
      </s:element>
      <s:element name="ConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfigResult" type="tns:ArrayOfConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Config" nillable="true" type="tns:Config" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Config">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConfigItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigValueString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfigValueInt" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClassesByGuidParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuidParent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="allChildren" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesByGuidParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassesByGuidParentResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsOntologyItem" nillable="true" type="tns:clsOntologyItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OList_Rel" type="tns:ArrayOfClsOntologyItem" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Related" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Relation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="New_Item" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ObjectReference" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Direction" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Min" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max1" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max2" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Long" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Bool" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Real" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Val_String" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClassesChildsByGuidParentAndName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuidParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="allChildren" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="caseSensitive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassesChildsByGuidParentAndNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassesChildsByGuidParentAndNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsClassRel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsClassRel" nillable="true" type="tns:clsClassRel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsClassRel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID_Class_Left" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Class_Left" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Class_Right" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Class_Right" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_RelationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_RelationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ontology" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Min_Forw" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max_Forw" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max_Backw" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClassRelationsByLeftGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidClass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByLeftGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRightGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidClass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRightGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByRightGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRelationTypeGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRelationTypeGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByRelationTypeGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RightGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidLeft" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guidRight" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RightGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByLeftGuid_RightGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidLeft" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guidRight" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RelationTypeGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidLeft" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByLeftGuid_RelationTypeGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByLeftGuid_RelationTypeGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRelationTypeGuid_RightGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guidRight" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByRelationTypeGuid_RightGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByRelationTypeGuid_RightGuidResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMinForw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="minForw" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMinForwResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByMinForwResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMaxForw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxForw" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMaxForwResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByMaxForwResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMaxBackw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxBackw" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClassRelationsByMaxBackwResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassRelationsByMaxBackwResult" type="tns:ArrayOfClsClassRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfigSoapIn">
    <wsdl:part name="parameters" element="tns:Config" />
  </wsdl:message>
  <wsdl:message name="ConfigSoapOut">
    <wsdl:part name="parameters" element="tns:ConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ClassesByGuidParentSoapIn">
    <wsdl:part name="parameters" element="tns:ClassesByGuidParent" />
  </wsdl:message>
  <wsdl:message name="ClassesByGuidParentSoapOut">
    <wsdl:part name="parameters" element="tns:ClassesByGuidParentResponse" />
  </wsdl:message>
  <wsdl:message name="ClassesChildsByGuidParentAndNameSoapIn">
    <wsdl:part name="parameters" element="tns:ClassesChildsByGuidParentAndName" />
  </wsdl:message>
  <wsdl:message name="ClassesChildsByGuidParentAndNameSoapOut">
    <wsdl:part name="parameters" element="tns:ClassesChildsByGuidParentAndNameResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelations" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRightGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRightGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRightGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRightGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRelationTypeGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRelationTypeGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRelationTypeGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRelationTypeGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RightGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RightGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RightGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RightGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RelationTypeGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RelationTypeGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByLeftGuid_RelationTypeGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByLeftGuid_RelationTypeGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRelationTypeGuid_RightGuidSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRelationTypeGuid_RightGuid" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByRelationTypeGuid_RightGuidSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByRelationTypeGuid_RightGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMinForwSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMinForw" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMinForwSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMinForwResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMaxForwSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMaxForw" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMaxForwSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMaxForwResponse" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMaxBackwSoapIn">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMaxBackw" />
  </wsdl:message>
  <wsdl:message name="ClassRelationsByMaxBackwSoapOut">
    <wsdl:part name="parameters" element="tns:ClassRelationsByMaxBackwResponse" />
  </wsdl:message>
  <wsdl:portType name="OServiceClassRelSoap">
    <wsdl:operation name="Config">
      <wsdl:input message="tns:ConfigSoapIn" />
      <wsdl:output message="tns:ConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuidParent">
      <wsdl:input message="tns:ClassesByGuidParentSoapIn" />
      <wsdl:output message="tns:ClassesByGuidParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassesChildsByGuidParentAndName">
      <wsdl:input message="tns:ClassesChildsByGuidParentAndNameSoapIn" />
      <wsdl:output message="tns:ClassesChildsByGuidParentAndNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelations">
      <wsdl:input message="tns:ClassRelationsSoapIn" />
      <wsdl:output message="tns:ClassRelationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid">
      <wsdl:input message="tns:ClassRelationsByLeftGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByLeftGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRightGuid">
      <wsdl:input message="tns:ClassRelationsByRightGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByRightGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid">
      <wsdl:input message="tns:ClassRelationsByRelationTypeGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByRelationTypeGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RightGuid">
      <wsdl:input message="tns:ClassRelationsByLeftGuid_RightGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByLeftGuid_RightGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid">
      <wsdl:input message="tns:ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByLeftGuid_RelationTypeGuid_RightGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid">
      <wsdl:input message="tns:ClassRelationsByLeftGuid_RelationTypeGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByLeftGuid_RelationTypeGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid_RightGuid">
      <wsdl:input message="tns:ClassRelationsByRelationTypeGuid_RightGuidSoapIn" />
      <wsdl:output message="tns:ClassRelationsByRelationTypeGuid_RightGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMinForw">
      <wsdl:input message="tns:ClassRelationsByMinForwSoapIn" />
      <wsdl:output message="tns:ClassRelationsByMinForwSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxForw">
      <wsdl:input message="tns:ClassRelationsByMaxForwSoapIn" />
      <wsdl:output message="tns:ClassRelationsByMaxForwSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxBackw">
      <wsdl:input message="tns:ClassRelationsByMaxBackwSoapIn" />
      <wsdl:output message="tns:ClassRelationsByMaxBackwSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OServiceClassRelSoap" type="tns:OServiceClassRelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Config">
      <soap:operation soapAction="http://tempuri.org/Config" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuidParent">
      <soap:operation soapAction="http://tempuri.org/ClassesByGuidParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesChildsByGuidParentAndName">
      <soap:operation soapAction="http://tempuri.org/ClassesChildsByGuidParentAndName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelations">
      <soap:operation soapAction="http://tempuri.org/ClassRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRightGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByRightGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RightGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RelationTypeGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid_RightGuid">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByRelationTypeGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMinForw">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByMinForw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxForw">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByMaxForw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxBackw">
      <soap:operation soapAction="http://tempuri.org/ClassRelationsByMaxBackw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OServiceClassRelSoap12" type="tns:OServiceClassRelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Config">
      <soap12:operation soapAction="http://tempuri.org/Config" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesByGuidParent">
      <soap12:operation soapAction="http://tempuri.org/ClassesByGuidParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassesChildsByGuidParentAndName">
      <soap12:operation soapAction="http://tempuri.org/ClassesChildsByGuidParentAndName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelations">
      <soap12:operation soapAction="http://tempuri.org/ClassRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRightGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByRightGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RightGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RelationTypeGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByLeftGuid_RelationTypeGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByLeftGuid_RelationTypeGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByRelationTypeGuid_RightGuid">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByRelationTypeGuid_RightGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMinForw">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByMinForw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxForw">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByMaxForw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassRelationsByMaxBackw">
      <soap12:operation soapAction="http://tempuri.org/ClassRelationsByMaxBackw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OServiceClassRel">
    <wsdl:port name="OServiceClassRelSoap" binding="tns:OServiceClassRelSoap">
      <soap:address location="http://localhost:65493/OServiceClassRel.asmx" />
    </wsdl:port>
    <wsdl:port name="OServiceClassRelSoap12" binding="tns:OServiceClassRelSoap12">
      <soap12:address location="http://localhost:65493/OServiceClassRel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>