WpfOnt/WpfOnt/Service References/OServiceObjectRel/OServiceObjectRel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObjectRels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsObjectRel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsObjectRel" nillable="true" type="tns:clsObjectRel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsObjectRel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID_Object" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Object" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Parent_Object" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Parent_Object" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Other" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Other" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Parent_Other" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Parent_Other" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_RelationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_RelationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ontology" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Direction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Direction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObjectRelsByIdObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdObject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdObjectResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdObjectAndIdRelationTypeResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdRelationTypeAndIdOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdRelationTypeAndIdOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdRelationTypeAndIdOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdParentObject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdParentObjectResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdParentOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdParentOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdParentObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdParentObjectAndIdRelationTypeResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdParentObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdParentOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdRelationTypeAndIdParentOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdParentOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdRelationTypeAndIdParentOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdRelationTypeAndIdParentOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdParentOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdParentObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRelationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdOther" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyIds" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherResult" type="tns:ArrayOfClsObjectRel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObjectRelsSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRels" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObject" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationType" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdRelationTypeAndIdOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdRelationTypeAndIdOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdRelationTypeAndIdOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdRelationTypeAndIdOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObject" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationType" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdRelationTypeAndIdParentOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdRelationTypeAndIdParentOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdRelationTypeAndIdParentOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdRelationTypeAndIdParentOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherResponse" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherSoapIn">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther" />
  </wsdl:message>
  <wsdl:message name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherSoapOut">
    <wsdl:part name="parameters" element="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherResponse" />
  </wsdl:message>
  <wsdl:portType name="OServiceObjectRelSoap">
    <wsdl:operation name="ObjectRels">
      <wsdl:input message="tns:ObjectRelsSoapIn" />
      <wsdl:output message="tns:ObjectRelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObject">
      <wsdl:input message="tns:ObjectRelsByIdObjectSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdOther">
      <wsdl:input message="tns:ObjectRelsByIdOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationType">
      <wsdl:input message="tns:ObjectRelsByIdObjectAndIdRelationTypeSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdObjectAndIdRelationTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOther">
      <wsdl:input message="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdOther">
      <wsdl:input message="tns:ObjectRelsByIdRelationTypeAndIdOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdRelationTypeAndIdOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObject">
      <wsdl:input message="tns:ObjectRelsByIdParentObjectSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdParentObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentOther">
      <wsdl:input message="tns:ObjectRelsByIdParentOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdParentOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationType">
      <wsdl:input message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther">
      <wsdl:input message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdParentOther">
      <wsdl:input message="tns:ObjectRelsByIdRelationTypeAndIdParentOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdRelationTypeAndIdParentOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther">
      <wsdl:input message="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther">
      <wsdl:input message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherSoapIn" />
      <wsdl:output message="tns:ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOtherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OServiceObjectRelSoap" type="tns:OServiceObjectRelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObjectRels">
      <soap:operation soapAction="http://tempuri.org/ObjectRels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObject">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationType">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObject">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdParentOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationType">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdParentOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther">
      <soap:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OServiceObjectRelSoap12" type="tns:OServiceObjectRelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObjectRels">
      <soap12:operation soapAction="http://tempuri.org/ObjectRels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObject">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationType">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObject">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdParentOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationType">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdRelationTypeAndIdParentOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdObjectAndIdRelationTypeAndIdParentOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther">
      <soap12:operation soapAction="http://tempuri.org/ObjectRelsByIdParentObjectAndIdRelationTypeAndIdOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OServiceObjectRel">
    <wsdl:port name="OServiceObjectRelSoap" binding="tns:OServiceObjectRelSoap">
      <soap:address location="http://localhost/OntWeb/OServiceObjectRel.asmx" />
    </wsdl:port>
    <wsdl:port name="OServiceObjectRelSoap12" binding="tns:OServiceObjectRelSoap12">
      <soap12:address location="http://localhost/OntWeb/OServiceObjectRel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>