WpfOnt/WpfOnt/Service References/OServiceRelationTypes/OServiceRelationTypes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Config">
        <s:complexType />
      </s:element>
      <s:element name="ConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfigResult" type="tns:ArrayOfConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConfig">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Config" nillable="true" type="tns:Config" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Config">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConfigItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigValueString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfigValueInt" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RelationTypes">
        <s:complexType />
      </s:element>
      <s:element name="RelationTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsOntologyItem" nillable="true" type="tns:clsOntologyItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsOntologyItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OList_Rel" type="tns:ArrayOfClsOntologyItem" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_Class" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_DataType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Related" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUID_Relation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name_Parent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="New_Item" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ObjectReference" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Direction" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Min" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max1" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Max2" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Long" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Bool" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Val_Real" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Val_String" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="RelationTypesByRelationTypeGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guidRelationType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesByRelationTypeGuidResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameRelationType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="strict" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="caseSensitive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelationTypesByRelationTypeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelationTypesByRelationTypeNameResult" type="tns:ArrayOfClsOntologyItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfigSoapIn">
    <wsdl:part name="parameters" element="tns:Config" />
  </wsdl:message>
  <wsdl:message name="ConfigSoapOut">
    <wsdl:part name="parameters" element="tns:ConfigResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypes" />
  </wsdl:message>
  <wsdl:message name="RelationTypesSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeGuidSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeGuid" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeGuidSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeGuidResponse" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeNameSoapIn">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeName" />
  </wsdl:message>
  <wsdl:message name="RelationTypesByRelationTypeNameSoapOut">
    <wsdl:part name="parameters" element="tns:RelationTypesByRelationTypeNameResponse" />
  </wsdl:message>
  <wsdl:portType name="OServiceRelationTypesSoap">
    <wsdl:operation name="Config">
      <wsdl:input message="tns:ConfigSoapIn" />
      <wsdl:output message="tns:ConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <wsdl:input message="tns:RelationTypesSoapIn" />
      <wsdl:output message="tns:RelationTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <wsdl:input message="tns:RelationTypesByRelationTypeGuidSoapIn" />
      <wsdl:output message="tns:RelationTypesByRelationTypeGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <wsdl:input message="tns:RelationTypesByRelationTypeNameSoapIn" />
      <wsdl:output message="tns:RelationTypesByRelationTypeNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OServiceRelationTypesSoap" type="tns:OServiceRelationTypesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Config">
      <soap:operation soapAction="http://tempuri.org/Config" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <soap:operation soapAction="http://tempuri.org/RelationTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <soap:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <soap:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OServiceRelationTypesSoap12" type="tns:OServiceRelationTypesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Config">
      <soap12:operation soapAction="http://tempuri.org/Config" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypes">
      <soap12:operation soapAction="http://tempuri.org/RelationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeGuid">
      <soap12:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationTypesByRelationTypeName">
      <soap12:operation soapAction="http://tempuri.org/RelationTypesByRelationTypeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OServiceRelationTypes">
    <wsdl:port name="OServiceRelationTypesSoap" binding="tns:OServiceRelationTypesSoap">
      <soap:address location="http://localhost:65493/OServiceRelationTypes.asmx" />
    </wsdl:port>
    <wsdl:port name="OServiceRelationTypesSoap12" binding="tns:OServiceRelationTypesSoap12">
      <soap12:address location="http://localhost:65493/OServiceRelationTypes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>